@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-blue: #002773;
  --color-primary-blue-dark: #06113D;

  --color-secondary-purple: #6C2E99;
  --color-secondary-purple-dark: #300A61;

  --color-secondary-green: #199E92;
  --color-secondary-green-dark: #073F42;

  --color-secondary-gray: #7D8D99;
  --color-secondary-gray-light: #D1DEE6;
  --color-secondary-gray-medium: #7D8D99;
  --color-secondary-gray-dark: #343B40;
}




:root {
  --font-lora: var(--font-lora);
  --font-montserrat: var(--font-montserrat);
  --font-montserrat-bold: var(--font-montserrat-bold);
}

body {
  margin: 0;
  padding: 0;

}

.font-lora {
  font-family: var(--font-lora);
}
.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-montserrat-bold {
  font-family: var(--font-montserrat-bold);
}


